.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 6%;
}
.welcome {
  font-size: 7rem;
  font-weight: 400;
  background: linear-gradient(to right, #d22780, #f8b500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-10%);
  animation: fade 2s ease-in-out;
}
.create {
  display: inline-block;
  background-color: #d2277f;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
}
.tc {
  font-size: 7rem;
  font-weight: 400;
  background: linear-gradient(to right, #d22780, #f8b500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 11.5rem;
  align-self: flex-end;
  transform: translateX(10%);
  margin-bottom: -1.2rem;
  animation: fade 4s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero-text {
  font-weight: 120 !important;
  /* animation: fadeIn 1.4s ease-in-out; */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  position: relative;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}
.section-title {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  color: #d22780;
}
.logout {
  /* margin-bottom: 5.4px; */
  margin-top: 0rem;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* row-gap: -2rem; */
  gap: 2rem;
  padding: 2rem;
  align-self: center;
}

.feature-card,
.small-capsule {
  border: 2px solid #ff7a00;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
}
.feature-card {
  max-width: 250px;
}
.small-capsule {
  margin-bottom: -3.75rem;
  width: 300px;
  max-height: 380px !important;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.feature-card:hover,
.small-capsule:hover {
  transform: translateY(-5px);
}
.small-capsule:hover {
  background-color: #fff4e5;
}
.capsule-image,
.small-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.small-image {
  width: 300px;
  height: 250px;
  margin-bottom: -0.5rem;
}
@media (max-width: 460px) {
  .small-image {
    width: 215px;
    height: 175px;
  }
  .small-capsule {
    width: 218px;
  }
}
.icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ff7a00;
}

.how-it-works {
  text-align: center;
  color: #121212;
}
.hero-text {
  max-width: 95%;
}

@media (max-width: 900px) {
  .welcome {
    font-size: 5rem;
  }

  .tc {
    font-size: 5rem;
    margin-top: 8.5rem;
  }
}
@media (max-width: 790px) {
  .welcome {
    font-size: 4rem;
    margin-left: 4rem;
  }

  .tc {
    font-size: 4rem;
    margin-top: 7.5rem;
    margin-right: 4.6rem;
  }
}
@media (max-width: 505px) {
  .welcome {
    font-size: 3rem;
    margin-left: 3rem;
  }

  .tc {
    font-size: 3rem;
    margin-top: 5.5rem;
    margin-right: 3.4rem;
  }
}
