@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #f2f4fb;
  margin: 0;
  line-height: 1.6;
  padding-top: 77px;
  min-height: 100vh;
}

body {
  background: linear-gradient(
    229deg,
    #f4d7ff,
    #fff5db,
    #d3fff4,
    #fbffc8,
    #d9e7ff
  );
  background-size: 500% 500%;

  -webkit-animation: moveGradient 12s ease infinite;
  -moz-animation: moveGradient 12s ease infinite;
  animation: moveGradient 12s ease infinite;
}

@-webkit-keyframes moveGradient {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}
@-moz-keyframes moveGradient {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}
@keyframes moveGradient {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}
h1 {
  font-size: 3rem;
}

p {
  font-size: 1.25rem;
  font-weight: 100;
}
main,
section,
form {
  flex: 1;
  align-items: center !important;
  justify-content: center;
  margin: 3rem auto;
  max-width: 800px;
  padding: 1rem;
  background-color: #f2f4fb;
  border-color: #d22780 !important;
  border-style: solid;
  border-width: 2px;
  transition: transform 0.3s ease;
}
form:hover,
section:hover {
  transform: translateY(-6px);
}

h1,
h2,
h3 {
  color: #4b4b4b;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: #626262;
}

a {
  color: #d22780;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-bottom: 60px;
}

a:hover {
  color: #f8b500;
}

form {
  padding: 2rem;
  max-width: 600px;
}

label {
  font-weight: bold;
  font-size: 1.2rem;
  color: #d22780;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 2px solid #d22780;
  background-color: #f2f4fb;
  color: #292929;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
textarea {
  overflow: hidden;
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #f8b500;
  outline: none;
}

.file-upload {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #d22780;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.file-upload:hover {
  background-color: #f8b500;
  transform: scale(1.1);
}

input,
textarea,
.file-upload {
  margin-top: 1rem;
}

::placeholder {
  color: rgba(170, 170, 170, 0.7);
}

input,
textarea,
button {
  transition: all 0.3s ease;
}

.capsule {
  border: solid;
  border-width: 2px;
  border-color: #d22780;
  margin-bottom: 1rem;
}

.button-container,
.button-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.button-container2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
button {
  background: #f8b500;
  text-align: center;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  transition:
    scale 0.3s ease,
    box-shadow 0.3s ease;
  /* margin-top: 1rem; */
  min-width: 100px;
}

button:hover {
  scale: 110%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: #292929;
  padding: 0.5rem;
  font-size: large;
  list-style: none;
}
blockquote {
  border-left: solid;
  border-width: 2px;
  border-color: #d22780;
}

.navbar {
  background-color: #f2f4fb9d;
  padding: 12px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease;
  border-bottom: solid;
  border-width: 2px;
  border-color: #d22780;
  min-height: 51px;
  max-height: 51px;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.visible {
  transform: translateY(0);
}

nav a,
nav span {
  color: #d22780;
  /* margin: 0 1rem; */
  transition: color 0.3s ease;
  text-decoration: none;
}
nav a {
  margin: 0 1rem;
}
nav a:hover {
  color: #f8b500;
}

.time-capsule {
  font-family: 'Doto', sans-serif;
  font-weight: 950 !important;
  color: #1f4e78;
  margin: 0;
  font-size: 2rem !important;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: text-shadow 0.2s ease;
}

.time-capsule:hover {
  text-shadow:
    0 0 3px #f8b500,
    0 0 6px #f1e1b4;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #d22780;
  padding: 5px;
  align-self: center;
  transition: color 0.3s ease;
}

.hamburger:hover {
  color: #f8b500;
}

.mobile-nav-links {
  font-weight: 550;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  box-sizing: border-box;
  padding: 10px;
  transition: color 0.3s ease;
  overflow-x: hidden;
}
@media (max-width: 927px) {
  .hamburger {
    display: block;
  }
  section,
  form {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f4fbf5;
    z-index: 999;
  }
  nav span {
    display: flex;
    align-items: center;
  }
  .mobile-nav-links {
    display: flex;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 10px;
    transition: color 0.3s ease;
    overflow-x: hidden;
  }

  .mobile-nav-links:hover {
    background-color: #f2f4fb;
    padding: 10px;
    border-bottom: none;
  }

  .nav-links.active {
    display: flex;
  }

  nav h3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  nav a {
    margin: 10px 0;

    width: 100%;
    text-align: left;
  }
}

nav button {
  background: #d22780;
  color: #f2f4fb;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background: #f8b500;
}
.content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}
.logout {
  margin-left: 10px;
  margin-bottom: 0;
}
