@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f4fb;
  color: #f2f4fb;
  margin: 0;
  line-height: 1.6;
  padding-top: 83px;
  /* padding-top: auto; */
  min-height: 100vh;
}
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/stars-bg4.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1.25rem;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}
main,
section,
form{
  flex: 1;
  align-items: center !important;
  justify-content: center;
  margin: 2rem auto;
  max-width: 800px;
  padding: .7rem;
  background-color: #f2f4fb;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  border-color: #d22780 !important;
  border-style: solid;
  border-width: 2px;
  transition:
  transform 0.3s ease;
}
form:hover,
section:hover{
  transform: translateY(-6px);
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  color: #272727;
  /* text-align: center; */
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: #292929;
}

a {
  color: #d22780;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #f8b500;
}

form {
  padding: 2rem;
  max-width: 600px;
  margin: 2rem auto;
}

label {
  font-weight: bold;
  font-size: 1.2rem;
  color: #d22780;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 2px solid #d22780;
  background-color: #f2f4fb;
  color: #292929;
  font-size: 1rem;
  box-sizing: border-box;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #f8b500;
  outline: none;
  box-shadow: 0 0 10px rgba(255, 64, 129, 0.8);
}

.file-upload {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 23px;
  font-size: 16px;
  color: #ffffff;
  background-color: #d22780;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.file-upload:hover {
  background-color: #f8b500;
  transform: scale(1.1);
}

input,
textarea,
button,
.file-upload {
  margin-top: 1rem;
}

::placeholder {
  color: rgba(170, 170, 170, 0.7);
}

input,
textarea,
button {
  transition: all 0.3s ease;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: #f8b500;
  text-align: center;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #eeee;
  font-weight: bold;
  transition:
    scale 0.3s ease,
    box-shadow 0.3s ease;
  margin-top: 1rem;
}

button:hover {
scale: 110%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: #292929;
  padding: 0.5rem;
}
blockquote {
  border-left: solid;
  border-width: 2px;
  border-color: #d22780;
}

footer {
  border-top: solid;
  border-width: 2px;
  border-color: #d22780;
  background-color: #f2f4fb;
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;
  position: relative;
  width: auto;
}

.navbar {
  background-color: #f2f4fbb0;
  padding: 16px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease;
  border-bottom: solid;
  border-width: 2px;
  border-color: #d22780;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.visible {
  transform: translateY(0);
}

nav a {
  color: #d22780;
  margin: 0 1rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

nav a:hover {
  color: #f8b500;
}

.time-capsule {
  font-family: 'Doto', sans-serif;
  font-weight: 750 !important;
  color: #1f4e78;
  margin: 0;
  font-size: 2rem !important;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: text-shadow 0.2s ease;
}

.time-capsule:hover {
  text-shadow:
    0 0 6px #f8b500,
    0 0 13px #f8b500;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #d22780;
  padding: 5px;
  align-self: center;
  transition: color 0.3s ease;
}

.hamburger:hover {
  color: #f8b500;
}

.mobile-nav-links {
  width: 100%;
  font-size: 1.3rem;
  box-sizing: border-box;
  padding: 10px;
  transition: color 0.3s ease;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }
  body {
    margin-top: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #1e1e1e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 999;
  }


  .mobile-nav-links {
    display: flex;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 10px;
    transition: color 0.3s ease;
    overflow-x: hidden;
  }

  .mobile-nav-links:hover {
    background-color: #2c2c2c;
  }

  .nav-links.active {
    display: flex;
  }

  nav h3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  nav a {
    margin: 10px 0;
    width: 100%;
    text-align: left;
  }
}

nav button {
  background: linear-gradient(45deg, #d22780, #f8b500);
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background: linear-gradient(45deg, #f8b500, #d22780);
}

.empty {
  flex-grow: 1;
}
