footer {
  border-top: solid 2px #d22780;
  background-color: #f2f4fb9d;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 2rem;
}
.footer-title {
  font-size: 2rem;
  margin: 0;
  color: #d22780;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.footer-link {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.footer-bottom {
  align-items: center;
}
@media (max-width: 876px) {
  footer {
    flex-direction: column;
    padding: 12px;
    text-align: center;
    justify-content: center;
  }
  .footer-nav {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
}
