footer {
  border-top: solid 2px #d22780;
  background-color: #f2f4fb9d;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 230px;
  overflow: hidden;
  padding-bottom: 1rem;
}
.footer-title {
  font-size: 2rem;
  color: #d22780;
  margin-bottom: 0.5rem;
}

.footer-tagline {
  font-size: 1.2rem;
  color: #d22780;
}

.footer-link {
  padding: 0.5rem;
}
